h1{
   letter-spacing: 2px;
   background-color: #F0F0F0;
   color: #A4A400;
   text-align: center;
   font-family: Century Gothic;
}
h2{ letter-spacing: 2px;
    background-color: #F0F0F0;
    color: #A4A400;
	text-align: center;
	font-family: Century Gothic;
}
h3{ letter-spacing: 2px;
    background-color: #F0F0F0;
    color: #A4A400;
	font-family: Century Gothic;
}
ul.a {
    list-style-image: url("bullet.jpg");
}

ul.b {
    list-style-image: url("bullet1.jpg");
}
.floating-box {
	display: inline-block;
    background-color: #C6C611;
    border-right: 25px solid #003366;
    font-size: 20px;
    padding: 5px;
}
body {
    background-color: #FFCC00;
	color: #000000;
	font-family: Georgia;
	}

/* mouse over link */
a:hover {
    color: red;
}
a:link{
    text-decoration: none;
}

.gs{
	font-weight:bold;
}
table {
	color: #FFFFFF;
	margin-top: 20px;
}

table, th, td {
   border: 2px solid #FFFFFF;
   padding: 5px;
}

tr{background-color: #CC9933}
th{background-color: #003366;}

caption {
    display: table-caption;
    text-align: -webkit-center;
	background-color: #F0F0F0;
	color: #A4A400;
	font-family: Century Gothic;
	font-weight:bold;
}